@model IEnumerable<Pago>

@{
    ViewData["Title"] = "Pago";
}

<h1>Pagos</h1>


<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar..." id="searchInput">
    <div class="input-group-append">
        <a asp-action="Crear" class="btn btn-primary">Crear nuevo</a>
    </div>
</div>
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["SuccessMessage"]
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IdContrato)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-IdPago="@item.IdPago" title="Editar"><span
                            class="fa fa-edit"></span></a>
                    <a asp-action="Detalle" asp-route-IdPago="@item.IdPago" title="DetallePago"><span
                            class="fa fa-info"></span></a>
                    @if (User.IsInRole("Administrador")){
                        <a asp-action="Eliminar" asp-route-id="@item.IdPago" title="Eliminar"
                            onclick="return confirm('¿Estás seguro de eliminar a IdPago: @item.IdPago / IdContrato: @item.IdContrato?');"><span
                                class="fa fa-trash text-danger"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/search.js"></script>
}
