@model IEnumerable<Inquilino>

@{
    ViewData["Title"] = "Inquilino";
}

<h1>Inquilino</h1>

<p>
    <a asp-action="Editar" class="btn btn-primary">Crear nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInquilino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-IdInquilino="@item.IdInquilino" title="Editar"><span
                            class="fa fa-edit"></span></a>&nbsp;
                    <a asp-action="Eliminar" asp-route-id="@item.IdInquilino" title="Eliminar"
                        onclick="return confirm('¿Estás seguro de eliminar a @item.Nombre @item.Apellido?');"><span
                            class="fa fa-trash text-danger"></span></a>
                </td>

            </tr>
        }
    </tbody>
</table>